
@media screen and (max-width: 770px) {
    .banner-text h1{
        font-size: 44px;
        
    }
    .banner-btn a{
        display: block;
    }
    .menu{
        display: none;
    }
    .banner-text {
        text-align: center;
        color: #fff;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .logo{
        height: auto;
    }
    .nav{
        width: 40%;
    }
    #banner{
        height: 75vh;
    }
    .title-text h1,.title-text-hair h1{
        font-size: 35px;
    }
    .features{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;
        
    }
    .features-img img{
        width: 100%;
    }
    .feature-icon {
        padding: 12px 20px;
        width: auto;
        height: auto;
    }
    .hair-item{
        flex: 100%;
        margin-bottom: 30px;
    }
    .hair-item-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .hair-item img{
        width: 100%;
        height: 100%;
    }
    .hair-item:hover .hair-item-desc{
        bottom: 25%;
    }
    .list-test{
        flex-direction: column;
    }
    .list-test li{
        width: auto;
    }
    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    #footer img{
        top: 25%;
    }
}